main {
    z-index: -2;
}

.description {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    position: relative;
    overflow: hidden;
    max-width: 800px;
    margin: auto;
    padding: 20px;
    color: rgb(0, 0, 0);
}

h1 {
    text-align: center;
}

.background_shapes {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.shape {
    width: 20px;
    height: 20px;
}

.square {
    border: 1px solid brown;
}

.circle {
    border: 1px solid white;
    border-radius: 50%;
}

.triangle {
    position: relative;
}

.triangle::before {
    content: "";
    position: absolute;
    width: 2px;
    height: 20px;
    background: #007bff;
    transform: rotate(45deg)
}

.triangle::after {
    content: "";
    position: absolute;
    width: 2px;
    height: 20px;
    background: #007bff;
    transform: rotate(-45deg)
}

.description h1 {
    text-transform: uppercase;
    font-size: calc(20px + (40 - 20) * ((100vw - 300px) / (1600 - 300)));
    margin: 0;
}

p {
    margin: 0;
    font-weight: 300;
}

.details {
    width: max-content;
    margin: auto;
}

.details>div {
    margin: 20px;
}

.details h2 {
    margin: 0;
    font-size: 20px;
}

.project {
    margin-bottom: 30px;
}

/* PROJECT */

.the_issue .subtitle,
.the_issue .subtitle_inner {
    text-align: left;
    display: block;
}

.title_right {
    position: relative;
}

.title_right::before {
    content: "";
    position: absolute;
    top: -30px;
    right: 10px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 12px solid #6a9dc2;
    z-index: -1;
}

.the_process {
    padding: 30px 0;
}

.the_process .subtitle_inner {
    position: relative;
}

.the_process .subtitle_inner::after {
    content: "";
    position: absolute;
    top: -40px;
    right: 60px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 12px solid #6a9dc2;
    z-index: -1;
}

.the_issue {
    padding: 20px 35px;
}

.the_solution {
    padding: 20px;
    padding-top: 40px;
}

b {
    font-weight: 500;
}

.title_right .subtitle,
.title_right .subtitle_inner {
    text-align: right;
    display: block;
}

.the_issue p,
.the_solution p {
    max-width: 400px;
    margin: auto;
    position: relative;
}

.the_issue p::before {
    position: absolute;
    font-size: 25px;
    left: -35px;
    top: -12px;
    font-family: "Font Awesome 5 Free";
    content: "\f10d";
    font-weight: 900;
    color: var(--subtitle-colour);
}

.title {
    position: relative;
}

.the_issue .title::before {
    content: "";
    position: absolute;
    top: -30px;
    left: 10px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 12px solid #6a9dc2;
    z-index: -1;
}

.number {
    background: var(--accent-colour);
    padding: 12px;
    border-radius: 5px;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 20px;
    font-weight: 900;
    position: absolute;
    top: -25px;
}

.steps>div {
    max-width: 320px;
    margin: 30px auto;
    margin-bottom: 40px;
    padding: 20px;
    border-radius: 4px 40px 4px 4px;
    -webkit-box-shadow: 0px 0px 5px 0px rgb(161 161 161);
    -moz-box-shadow: 0px 0px 5px 0px rgba(161, 161, 161, 1);
    box-shadow: 0px 0px 5px 0px rgb(161 161 161);
    position: relative;
}

.steps h5 {
    font-size: var(--under-subtitle-size);
    margin-bottom: 8px;
}

p {
    font-size: 14px;
}

@media (max-width: 800px) {
    .steps>div:first-of-type {
        margin-top: 40px;
    }
}

@media (min-width: 800px) {

    .project_inner {
        max-width: 900px;
        margin: auto;
    }

    .steps {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        max-width: 1500px;
        margin: auto;
    }

    .steps>div {
        margin: 20px;
    }

    .the_issue,
    .the_solution {
        padding: 80px;
    }

    .the_issue,
    .the_solution {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
        grid-template-rows: auto;
        max-width: 1150px;
        margin: 15px auto;
        padding: 40px;
    }

    .ideation_wireframes {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
        grid-template-rows: auto;
    }

    main {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
        grid-template-rows: auto;
    }

    .description {
        padding: 80px;
    }
}

@media (min-width: 877px) {
    .details {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .details>div {
        padding: 40px;
        width: 260px;
    }

    .title_right {
        order: 2;
    }
}