.grid {
    display: grid;
    grid-template-columns: auto;
    margin: 20px;
    margin-bottom: 0;
}

.grid p {
    font-size: var(--font-size);
    font-weight: 300;
}

.grid img {
    display: flex;
    max-width: 450px;
    margin: auto;
}

.skills {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px;
    background-color: #F1F4F6;
}

.skills img {
    width: 50px;
    margin: 20px;
}

@media only screen and (min-width: 702px) {

    .grid {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: auto;
        margin: 20px;
        margin-bottom: 0;
        height: 540px;
    }

    .content {
        grid-column: 2/7;
        grid-row: 1;
        margin: auto;
    }

    .content p {
        width: 80%;
        margin: 6px auto;
    }

    .drawing {
        grid-column: 7/12;
        grid-row: 1;
        margin: auto;
        margin-bottom: 0;
    }
}